@import '../utils/variables.scss';

.about {
    color: black;
    & > .horarios {
        float: left;
        margin-right: 3em;
    }
    & > .mapa {
        width: 50vh;
        overflow: hidden;
        & > iframe {
            height: 25em;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            
        }
    }
    & > .contacto {
        clear: both;
    }
    & > .contacto .link {
        color: $color-link;
    }
}

@media only screen and (max-width:1312px) {
    .about .mapa {
        width: 80%;
        margin: auto;
    }
}