@import '../utils/variables.scss';

.home {
    background-color: $color-primary;
    color: black;
    padding-bottom: 1vh;

    & > img {
        /* height: 40vh; */
        width: auto;
        max-width: 90%;
        align-items: center;
        margin:auto;
        display: block;
        
        border-style: double;
        border-color: $color-primary-faded;
        border-radius: 1em;
        border-width: 1em;
        overflow: hidden;
    }
}

