@import '../utils/variables.scss';


nav {
    background-color: $color-primary-faded;
    width: 100%;
    padding-bottom: 1vh;

    display: flex;
    justify-content: space-evenly;

    top: 30vh;
    padding-top: 1vh;
    
    position: fixed;
    & > .menu__item {
        color: $color-link;
    }
}