// colors

/* $color-primary: #9bcaeb;
$color-primary-faded: #7dbae5;
$color-interactive-elements: #2d8fd5; */
$color-primary: #fafde0;
$color-primary-faded: #b6ad90;
$color-interactive-elements: #c2c5aa;
$color-link: #562c2c;
$color-secondary: #eeeeee80;
$color-global-white: #FFFFFF;
$color-third: #242323;
$color-button: #5086bd;

// breakpoint
$desktop-breakpoint: 80rem;